body{ 
    margin:0;
    padding: 0;
    
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
}

/*Форма скрыта согласно заданию*/
.search-form{
    display: none;
}

/*Текстовые стили*/

a {
    color:#000000;
    text-decoration: none;
}

a:hover{
    color: #81b3d2;
}
a:active{
    color: #766357;
}
a:focus{
    color: rgba(0, 0, 0, 0.3);
}

.features-1 p,
.advices-list p,
.features-2 p,
.features-list p,
.hotels p{
    line-height: 21px;
    font-weight: 400;
}   
.sorting-searh p{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}


.sorting-searh h3,
.hotels h3,
.contacts p{
    font-size: 21px;
    line-height: 26px;
}
.features h3,
.contacts p{
    text-align: center;
    font-weight: 700;
}

.features-1-text h3,
.advices-list h3,
.features-2-text h3,
.features-list h3{
    font-size: 21px;
    line-height: 21px;
}

.features-1-text p,
.advices-list p,
.features-2-text p,
.features-list p{
    font-size: 14px;
    line-height: 21px;
}
.site-navigation,
.advices-list,
.features-list,
.social-list,
.sorting-list{
    list-style: none;
}

/*Стили разметки*/

.visually-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width:1px;
    height:1px;
    margin:-1px;
}
.background-substrate{
    width: auto;

    margin: 0 auto;

    background-color: #f2f2f2;
}

.center-block{
    width: 1200px;
    margin: 0 auto;
    background-color:#ffffff;
    box-shadow: 0 0 10px -5px #000000;
}

.main-header{
    width: 1200px;
    height: 564px;

    background-image: url(../img/background-photo.jpg);
    background-position-y: -26px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-navigation{
    width: inherit;
}

.site-navigation{
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #ffffff;
}
.site-navigation li{
   margin:16px 0px;
   padding: 0px;
}


.site-navigation li:first-of-type{
    padding: 0px 74px 0px 72px;
}
.site-navigation li:nth-of-type(2){
    margin-right: 244px;
    padding:0px 68px 0px 73px;
}
.site-navigation li:nth-of-type(3){
    padding:0px 73px 0px 77px;
}
.site-navigation li:last-of-type{
    padding: 0px 72px 0px 91px;
}

.main-header-logo{
    position: relative;
    left: 529px;
    top: -57px;
}

.banner{
    margin:0px;
    padding: 0;
    position: relative;
    top: -5px;
}
.banner-welcome{
    width: 459px;
    height: 353px;

    position: relative;
    left:370px;
    margin-bottom: 22px;

    background-image: url(../img/intro-welcome.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-polygon{
    width: 1200px;
    height: 59px;

    position: relative;
    bottom:-1px;

    background-image: url(../img/intro-mask.svg);
    background-repeat: no-repeat;
    
}

.container{
    display: flex;
    flex-direction: column;
}

.features-banner{
    background-color:#ffffff;
    padding: 60px 0 52px 0;
}
.features-banner h3{
    font-size: 21px ;
    line-height: 26px;
    margin:0 380px;
}
.features-list{
    margin: 30px 355px 0 356px;
    padding-bottom: 0px;
    color: #333333;
    font-weight: 400;
}

.features-1,
.features-2{
    display: flex;
    flex-direction: row;
    padding:0px;
    margin: 0px;
    background-color: #81b3d2;

}
.features-1-text{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    width: 280px;
    margin: 26px 60px 34px;
    text-align: center;

    color:#ffffff;
    background-color: aquamarine;
}
.features-1-text h3{
    white-space: pre-line;
}

.advices-list{
    background-color: #ffffff;
}

.advices-list li{
    
}

.features-2-text{  
    

    color:#ffffff;
}

.features-list li{
    
}
.features-list h3,
.features-list p:first-child,
.features-list p:last-child{
    
}

.sale-banner{
    

}
.sale-banner p:first-child{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.sale-banner p:last-child{
    font-weight: 400;
    line-height: 24px;
}

iframe{
    border: 0px;
    box-shadow: 0px;
}
footer{

    background-color: #f2f2f2;
    opacity: 0.9;
}
.social{
    width: 150px;
}
.social-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.twitter{
    width: 46px;
    height: 48px;
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.facebook{
    width: 46px;
    height: 48px;
    background-image: url(../img/fb-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.youtube{
    width: 46px;
    height: 48px;
    background-image: url(../img/youtube.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.social-button{
    background-color: #81b3d2;
}
.social-button:hover{
    background-color:#669ec0;
}
.social-button:focus{
    background-color: #5496bd;
}

.contacts p{
    text-align: left;
}

.creator{
    width: 197px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.creator p:first-child{
    font-weight: 400;
}

.creator-button:hover{
    color: #81b3d2;
}
.creator-button:focus{
    color: #bdbbbc;
}

/*КАТАЛОГ*/

legend{
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.filtration-form label,
.filtration-form span,
.filtration-form button{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
}

.filtration-form button{
    width: 133px;
    background-color: transparent;
    border: 2px solid #ffffff;
}

.sorting-search p{
    font-size: 12px;
    line-height: 18px;
}
.sorting-list li{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: underline;
}

.hotels p{
    line-height: 21px;
    text-align: left;
}

a.button{
    font-family: PT Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    border: none;
}

a.button.detailed {
    background-color: #81b3d2;
}
a.button.detailed:hover{
    background-color: #669ec0;
}
a.button.detailed:focus{
    background-color: #5496bd;
}

a.button.booked {
    background-color: #766357;
}
a.button.booked:hover{
    background-color: #604e43;
}
a.button.booked:focus{
    background-color: #503e33;
}


.catalog{
    width:inherit;

    background-image: url(../img/filter-background.jpg);
    background-color: #ffffff ;
    background-repeat: no-repeat;
}
.filtration-form{
    width:inherit;
}
.filtration-form-hotel{
    width: inherit;

    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.filtration-form-hotel-block1{
    width: 345px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filtration-form-hotel-block2{
    width: 314px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.infrastructure-block,
.housing-block,
.cost-block{
    display: flex;
    border: none;
}


.container-catalog{
    display: flex;
    flex-direction: column;
}


.searching-headline{
    width:inherit;
    padding:0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    
}
.sorting-searh{
    width: auto;
    padding:0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    position: relative;
    left:-220px;
    
}
.sorting-searh p{
    margin-left:30px;

}
.sorting-list{
    width:300px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sorting-button{
    position: relative;
    right:-250px;
}
.sorting-button button{
    border:0;
    background-color: transparent;
}
.hotels{
    width:inherit;

    display: flex;
    flex-direction: column;

}
.hotels div
.hotels-info{
    display:flex;
    flex-direction: column;

    margin-left: 20px;
}
.hotels-rating{
    display:flex;
    flex-direction: column;
}

.hotels-1,
.hotels-2,
.hotels-3{
    width: inherit;
    padding:20px 50px;

    display: flex;
    flex-direction: row;
}

.footer-catalog{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    background-color: #ffffff;
}