body{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
}

/*Форма скрыта согласно заданию*/
.search-form{
    display: none;
}

/*Текстовые стили*/

a {
    color:#000000;
    text-decoration: none;
}

a:hover{
    color: #81b3d2;
}
a:active{
    color: #766357;
}
a:focus{
    color: rgba(0, 0, 0, 0.3);
}

.features-1 p,
.advices-list p,
.features-2 p,
.features-list p,
.hotels p{
    line-height: 21px;
    font-weight: 400;
}   
.sorting-searh p{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.sorting-searh h3,
.hotels h3,
.contacts p{
    font-size: 21px;
    line-height: 26px;
}
.features-banner h3{
    font-size: 21px ;
    line-height: 26px;
}
.features h3,
.contacts p{
    text-align: center;
    font-weight: 700;
}

.features-1-text h3,
.advices-list h3,
.features-2-text h3,
.features-list h3,
.features-list-end h3{
    font-size: 21px;
    line-height: 21px;
}

.features-1-text p,
.advices-list p,
.features-2-text p,
.features-list p,
.features-list-end p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}
.site-navigation,
.advices-list,
.features-list,
.social-list,
.sorting-list,
.features-list-end{
    list-style: none;
}
.sale-banner p:first-child{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.sale-banner p:last-child{
    font-weight: 400;
    line-height: 24px;
}
/*Стили разметки*/

.visually-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width:1px;
    height:1px;
    margin:-1px;
}
.background-substrate{
    width: auto;

    margin: 0 auto;

    background-color: #f2f2f2;
}

.center-block{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color:#ffffff;
    box-shadow: 0 0 10px -5px #000000;
}

.main-header{
    position: relative;
}

.main-navigation{
    width: inherit;
    margin: 0px;
    padding: 0px;
    background-color: gold;
}

.site-navigation{
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #ffffff;
}
.site-navigation li{
    display: flex;
    width: 239px;
    box-sizing: border-box;
    margin: 15px 0;
}

.site-navigation li:first-of-type,
.site-navigation li:nth-of-type(2){
    margin-left:auto;
}

.site-navigation li:nth-of-type(3),
.site-navigation li:last-of-type{
    margin-right:auto;
}
.site-navigation li:first-of-type{
    padding: 0px 74px 0px 72px;
}
.site-navigation li:nth-of-type(2){
    margin-right: 244px;
    padding:0px 68px 0px 73px;
}
.site-navigation li:nth-of-type(3){
    padding:0px 73px 0px 77px;
}
.site-navigation li:last-of-type{
    padding: 0px 70px 0px 91px;
}

.main-header-logo{
    position: absolute;
    left: 529px;
    top: 0px;
    z-index: 999;
}

.banner{
    width: 1200px;
    height: 509px;

    margin:0px;
    padding: 0px;
    position: relative;
    background-image: url(../img/background-photo.jpg);
    
    background-repeat: no-repeat;
    background-size: 100%;
}

.banner-welcome{
    width: 459px;
    height: 353px;
    
    position: absolute;
    left: 370px;
    top: 78px;

    background-image: url(../img/intro-welcome.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-polygon{
    width: 1200px;
    height: 59px;

    position: absolute;
    left: auto;
    top:452px;

    background-image: url(../img/intro-mask.svg);
    background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: column;
}

.features-banner{
    background-color: #ffffff;
    padding: 60px 0 50px 0;
}
.features-banner h3{
    width: 480px;
    margin: 0 auto;
}
.features-list{
    margin: 28px 355px 0 356px;
    padding-bottom: 0px;
    color: #333333;
    font-weight: 400;
}

.features-1,
.features-2{
    display: flex;
    flex-direction: row;
    padding:0px;
    margin: 0px;
    background-color: #81b3d2;

}
.features-1-text{ 
    box-sizing: border-box;
    width: 400px;
    padding: 24px 60px 0px;
    text-align: center;

    color:#ffffff;
}
.features-1-text h3,
.features-2-text h3,
.features-list-end h3,
.features-list-end p,
.sale-banner p,
.features-2-text p{ 
    white-space: pre-line;
}
.features-1-text p,
.features-2-text p{
    margin: 24px 0;
}

.advices-list{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 30px 63px 54px 73px;
    padding:0;
    
    background-color: #ffffff;
}
.advices-list li{
    text-align: center;
    box-sizing: border-box;
    white-space: pre-line;
    background-color: #ffffff;
}
.advices-list li:nth-of-type(2){
    margin:0;
    padding: 0px 122px 0px 133px;
}
.advices-list li p{
    margin:0;
    padding:0;
}
.advices-list li h3{
    margin-bottom:0;
    padding:0;
}

.features-2-text{  
    box-sizing: border-box;
    width: 400px;
    padding-top: 22px;
    text-align: center;

    color:#ffffff;
}

.features-list-end{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    margin:0;
    padding:0;
    text-align: center;
    background-color: #eeeeee;
}
.features-list-end h3{
    margin:0;
    padding:0;
}
.features-list-end p{
    margin:0;
    padding:0;
}
.features-list-end p:first-of-type{
    padding-top:23px;
    padding-bottom: 20px;
}
.features-list-end li{
    width:400px;
    margin:48px 0px 58px;    
    box-sizing: border-box;
}

.sale-banner{
    text-align: center;
    padding: 52px 0px 132px;
    margin:0px;
}
.sale-banner p{
    margin: 0px;
    padding: 0px;
}
.sale-banner p:first-of-type{
padding-bottom: 25px;
}

iframe{
    margin: 0;
    padding: 0;
    border: 0px;
    box-shadow: none;
}

footer{
    box-sizing: border-box;
    width:inherit;
    position: absolute;
    bottom: 0px;
   

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    opacity: 0.9;

}

.contacts{
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 40px;
    margin-left: 125px;
    margin-right: 175px;
}
.contacts p{ 
    text-align: left;
    margin: 0px;
}
.contacts p:first-child{
    padding-bottom: 5px;
}
.social{
    margin-bottom: 10px;
    margin-right: 225px;
}
.social-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.social-list li{
    width: 46px;
    height: 48px;
    margin: 0 3px 0;
    background-repeat: no-repeat;
    background-position: center;
}
.twitter{
    background-image: url(../img/twitter.svg);
}
.facebook{
    background-image: url(../img/fb-icon.svg);
}
.youtube{
    background-image: url(../img/youtube.svg);
}
.social-button{
    background-color: #81b3d2;
}
.social-button:hover{
    background-color:#669ec0;
}
.social-button:focus{
    background-color: #5496bd;
}

.creator{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.creator p:first-child{
    padding-right: 5px;
    font-weight: 400;
}

.creator-button:hover{
    color: #81b3d2;
}
.creator-button:focus{
    color: #bdbbbc;
}

/*КАТАЛОГ*/

legend{
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.filtration-form label,
.filtration-form span,
.filtration-form button{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
}

.filtration-form button{
    width: 133px;
    background-color: transparent;
    border: 2px solid #ffffff;
}

.sorting-search p{
    font-size: 12px;
    line-height: 18px;
}
.sorting-list li{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    border-bottom: 1px dotted;
}
.hotels p{
    line-height: 21px;
    text-align: left;
}

a.button{
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    border: none;
}

.cost-block p{
    color: #ffffff;
    font-weight: 400;
    margin:0;
}

a.button.detailed {
    background-color: #81b3d2;
}
a.button.detailed:hover{
    background-color: #669ec0;
}
a.button.detailed:focus{
    background-color: #5496bd;
}

a.button.booked {
    background-color: #766357;
}
a.button.booked:hover{
    background-color: #604e43;
}
a.button.booked:focus{
    background-color: #503e33;
}


.catalog{
    width:1200px;
}

.filtration-form{
    width: inherit;
    height: 217px;

    background-image: url(../img/filter-background.jpg);
    background-color: #ffffff ;
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}

.filtration-form-hotel {
    width: inherit;
    padding:26px 72px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.filtration-form div{
    margin-left: auto;
}

.infrastructure-block,
.housing-block{
    border: none;
}
.infrastructure-block,
.housing-block{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.infrastructure-block{
    margin-right: 120px;
}

.infrastructure-block label,
.housing-block label{
    margin:8px;
}

.cost-block {
    width: 320px;
  
    color: #ffffff;
  }
  
  .cost-block-title {
    margin-bottom: 9px;
  
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }
  
  .price-controls {
    position: relative;
    
    height: 36px;
    margin-bottom: 20px;
    
    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
  }
  
  .price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
  }
  
  .price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
  }
  
  .price-controls .min-price,
  .price-controls .max-price {
    width: 90px;
    padding-left: 65px;
  }
  
  .price-controls input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
  }
  
  .range-controls {
    position: relative;
  
    margin-bottom: 32px;
  }
  
  .range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
  }
  
  .range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
  }
  
  .range-toggle {
    position: absolute;
    top: -9px;
    
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
  }
  
  .range-toggle:hover {
    background: #1c4f80;
  }
  
  .range-toggle-min {
    left: 0;
  }
  
  .range-toggle-max {
    left: 80%;
  }
  
  .cost-block button {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .cost-block button:hover {
    color: #000000;
  
    background: #ffffff;
  }
  
.searching-headline{
    width:inherit;
    margin:10px 68px 9px 72px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
}
.sorting-searh{
    width: auto;
    padding:0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
.sorting-searh p{
    margin-left:55px;

}
.sorting-list{
    width:235px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sorting-button button{
    border:0;
    background-color: transparent;
}

.hotels{
    width:inherit;
    display: flex;
    flex-direction: column;
}

.hotels-1,
.hotels-2,
.hotels-3{
    height: 150px;
    box-sizing: border-box;
    padding: 30px 72px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #cacaca;
}
.hotels-3{
    border-bottom:1px solid #cacaca;
}
.hotels-info{
    width:250px;
    height:90px;
    text-align: left;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.hotels-info div{
    display:flex;
    flex-direction: row;
}

.hotels-info div a{
 margin-right: 10px;
 padding:3px 15px;
}
.hotels-info div p:first-child{
    margin-right: 38px;
}
.hotels-info p,
.hotels-info h3{
    margin:0;
}
.hotels-rating{
    height: 90px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    text-align: right;
}
.hotels-rating p{
    width:110px;
    min-height:27px;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0px;
}
.footer-catalog{
    position: relative;
    bottom: none;
}